.contact-items-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  &-bot{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 25px;
    &__button{
      margin-right: 20px;
      border-radius: 11px;
      width: 62px;
      height: 62px;
      background: #f2ede5;
      border: none;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
    }
  }
}

