.date-text{
  font-weight: 400;
  font-size: 15px;
  color: #4c4c4c;
  margin-top: 15px;
}

.signUp-btn{
  margin-top: 30px;
  background-color: #fbf3e8;
  color: #ffab7c;
  display: block;
  border-radius: 20px;
  padding: 16px 40px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  &-a{
    background-color: var(--dark-orange);
    color: white;
    transition: 0.3s;
  }
}