.signIn{
  &-container{
    width: 450px;
    margin: 100px auto;
  }
  &-title{
    font-weight: 700;
    font-size: 34px;
    color: var(--dark);
    margin-bottom: 15px;
  }
  &-top-text{
    margin-bottom: 30px;
    &-new{
      font-weight: 400;
      font-size: 20px;
      color: var(--dark);
      margin-right: 15px;
    }
    &-create{
      font-weight: 400;
      font-size: 20px;
      color: var(--orange);
      cursor: pointer;
    }
  }
  &-bot{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-forgot{
      font-size: 20px;
      color: var(--orange);
    }
  }

}
.switcher{
  display: flex;
  align-items: center;
  &__text{
    font-size: 20px;
    color: #bdbdbd;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: .3s;
    &-active{
      color: var(--orange);
      transition: .3s;
    }
  }
}

