.slider-box{
  background-color: var(--dark-orange);
  display: flex;
  padding: 2px;
  border-radius: 9px;
  border: none;
  margin-bottom: 35px;
  &-btn{
    border-radius: 7px;
    width: 193px;
    padding: 10px 0;
    background-color: transparent;
    border: 0.50px solid transparent;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    &-a{
      border: 0.50px solid rgba(0, 0, 0, 0.04);
      border-radius: 7px;
      width: 193px;
      padding: 10px 0;
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.04), 0 3px 8px 0 rgba(0, 0, 0, 0.12);
      background-color: #fff;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      color: #b96442;
      transition: .3s;
    }
  }
}