.checkbox{
  border: 1px solid #efe1de;
  width: 31px;
  height: 31px;
  cursor: pointer;
  border-radius: 11px;
  &-fill{
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background-color: transparent;
    transition: .25s;
    display: flex;
    align-items: center;
    justify-content: center;
    &-t{
      background-color: var(--dark-orange);
      transition: .25s;
    }
    &-f{
      background-color: #fbf3e8;
      transition: .25s;
    }
  }
}